.restaurant__wrapper {
    background-color: white;
    position: absolute;
    width: 100vw;
    height: 0;
    bottom: -200px;
    z-index: 1000;
    transition: 0.5s all;
}

.restaurant__wrapper--opened {
    height: 100%;
    bottom: 0;
}

.restaurant__close {
    width: 100%;
    margin-top: 10px !important;
    --background: var(--color-app-logo-green);
    --background-hover: var(--color-app-logo-green-darker);
    --background-activated: var(--color-app-logo-green-darker);
}

.restaurant__close[data-platforms*=desktop] {
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    position: absolute;
    bottom: 10px;
}

.restaurant__close-wrapper {
    bottom: 0;
    position: absolute;
    left: 15px;
    width: calc(100% - 30px);
    height: 60px;
    background-color: #f3f3f3;
}

.restaurant__title {
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 500;
    font-family: 'Roboto';
}

.restaurant__description {
    margin-top: 2px;
    margin-bottom: 0;
    font-weight: 400;
    text-transform: lowercase;
}

.restaurant__container{
    padding: 15px;
    padding-bottom: 60px;
    position: relative;
    height: 100%;
    font-size: 14px;
    font-weight: 600;
    background-color: #f3f3f3;
    overflow: auto;
}

.restaurant__container[data-platforms*=desktop] {
    width: 500px;
    margin: 0 auto;
}

.restaurant__image {
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.restaurant__events {
    background-color: #f3f3f3;
}

.restaurant__not-present {
    margin-bottom: 20px;
    display: block;
}

.events__title {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


